body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.col-8{
width: 12.5%;
}

/*img.align-left { float: left;}

p.background { background-image: url("/Content/images/eh_house_image3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}*/

/*for rotating snips*/

#snip1,#snip2,#snip3 {
    display: none;
}

div.snips{ position: relative;}
div.snips a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
}

/* Styles for validation helpers*/

.field-validation-error{color:#f00}

.field-validation-valid{display:none}

.input-validation-error{ border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors{ font-weight: bold;
                            color:#ff0000
}

.validation-summary-valid{ display: none;}

.unhidden {
    display:block
}

/*INDEX Page*/

#blackLink{color:black}
#level2,#level3, #level4, #level5, #level6, #level7, #level8 {display:none}


