@{
    ViewBag.Title = "Developer Portfolio";
}


<div class="col-sm-12">
    <h1>Welcome to my developer dump!  </h1>
    <h4><i>Root around for snippets, small code exercises, projects in various stages of <del>dishabille</del> <ins> ideation</ins>, and other stuff.</i> </h4>

    <div class="text-center"><img src="/Content/images/SteamShovel3.png" alt="steamshovel" /></div>

    <blockquote>
        <p>
            I left Chicago in the fall of 2013 to study C# and .Net development at the <a href="http://www.swcguild.com/">Software Craftsmanship Guild</a>
            in Akron, OH. Since then I have come to find it's true, Cleveland does rock. That's why I'm staying here.
        </p>
    </blockquote>
    <br />
    <hr />
</div>

<div class="col-sm-12" style="top:20px">
    <div class="row">
        <div class="col-sm-6">
            <div style="position:relative; background: url(/Content/images/petProject.png); width:650px; height: 143px;top:15px">

                <div style="position:absolute; top:1px; left:0">
                    <p>pet project:</p>
                <p>for now, it's this page of my portfolio. Come back for updates.</p></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="boxed">
                <div style="position:relative; left:0; background: url(/Content/images/eh_house_image3.png); width:576px; height: 324px">
                    <div style="position: absolute; top: 15px; right: 0;" class="col-sm-6"><p> ennui house - for now it's just a blog</p> <p>posts rotating on carosel, or most recent. not sure</p> </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="jumbotron" style="background-color: darkgray" id="CodeSnips">

            <p class="border">This is where snippets are going to go. maybe a clickable rotation.</p>
            </div>
        </div>
</div>
