
@{
    ViewBag.Title = "Index";
}

<h2>Mastery Projects</h2>
<h3><a href="https://github.com/naomish/PracticeCsharp/tree/master/SWCLMS">Learning Management System</a></h3>
<p>This project pulls together C#, MVC, and DataBase concepts. Once I learn to publish with a database I will link to a working site. Until then, the code is available on github.</p>

<br/>
<h3><a href="https://github.com/naomish/PracticeCsharp/tree/master/Mastery/FlooringProgram">Floors 'R Us</a></h3>
<p>This project is the culmination in C# specific work at the guild. It is a console project that reads and writes to flat files. It is organized with a BLL, DAL and UI.</p>
