<ul class="nav nav-pills">
    <li class="active">@Html.ActionLink("Class Schedule", "Index", "Teacher")</li>
    <li>@Html.ActionLink("Information", "")</li>
    <li><a href="#">Roster</a></li>
    <li><a href="#">Gradebook</a></li>
</ul>
